# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# YOLO model weights
*.pt

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Python environment files
.env